<%- include ('./base/header.ejs') %>
    <%- include ('./base/navbar.ejs') %>

        <div class="container my-5 mx-auto">
            <table id="example" class="table table-striped table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">City</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Contact</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Text
                        </td>
                        <td>
                            Text
                        </td>
                        <td>
                            Text
                        </td>
                        <td>
                            Text
                        </td>
                        <td>
                            <div class="d-flex justify-content-around gap-1">
                                <a href="#" class="btn btn-warning w-40">Edit</a>

                                <form action="#" method="get">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">City</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Contact</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>


        <%- include ('./base/footer.ejs') %>